<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>UI测试</string>
		<key>routerVC</key>
		<string>UITestVC</string>
		<key>showName</key>
		<string>first</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>功能测试</string>
		<key>routerVC</key>
		<string>FuncTestVC</string>
		<key>showName</key>
		<string>功能测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>手势测试</string>
		<key>routerVC</key>
		<string>GestureTestVC</string>
		<key>showName</key>
		<string>手势测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>手势测试</string>
		<key>routerVC</key>
		<string>CollectionViewController</string>
		<key>showName</key>
		<string>手势测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>webkit</string>
		<key>routerVC</key>
		<string>MMWebViewController</string>
		<key>showName</key>
		<string>网页测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>textKit</string>
		<key>routerVC</key>
		<string>MMTextVC</string>
		<key>showName</key>
		<string>TextView</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>或者其他的</string>
		<key>routerVC</key>
		<string>MMAuthorizationVC</string>
		<key>showName</key>
		<string>权限处理</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>或者其他的</string>
		<key>routerVC</key>
		<string>MMTableViewVC</string>
		<key>showName</key>
		<string>列表测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>UIview</string>
		<key>routerVC</key>
		<string>MMUIKitAnimationVC</string>
		<key>showName</key>
		<string>UIKit动画</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>CoreAnimation</string>
		<key>routerVC</key>
		<string>MMLayerAnimationVC</string>
		<key>showName</key>
		<string>CoreAnimation动画</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>CAEmitterLayer</string>
		<key>routerVC</key>
		<string>MMEmitterVC</string>
		<key>showName</key>
		<string>粒子动画</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>CoreGraphic</string>
		<key>routerVC</key>
		<string>MMGraphicViewController</string>
		<key>showName</key>
		<string>画图</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>ipad</string>
		<key>routerVC</key>
		<string>MMIpadController</string>
		<key>showName</key>
		<string>ipad适配</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>CoreGraphic</string>
		<key>routerVC</key>
		<string>MMGraphic2VC</string>
		<key>showName</key>
		<string>画图2</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>CoreText</string>
		<key>routerVC</key>
		<string>MMCoreTextVC</string>
		<key>showName</key>
		<string>富文本</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>scroll</string>
		<key>routerVC</key>
		<string>ScrollTestViewController</string>
		<key>showName</key>
		<string>嵌套滚动测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>scroll</string>
		<key>routerVC</key>
		<string>CustomScrollAnimationViewController</string>
		<key>showName</key>
		<string>自定义滚动动画</string>
	</dict>
</array>
</plist>
