<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>UI测试</string>
		<key>routerVC</key>
		<string>UITestVC</string>
		<key>showName</key>
		<string>first</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>功能测试</string>
		<key>routerVC</key>
		<string>FuncTestVC</string>
		<key>showName</key>
		<string>功能测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>手势测试</string>
		<key>routerVC</key>
		<string>GestureTestVC</string>
		<key>showName</key>
		<string>手势测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>手势测试</string>
		<key>routerVC</key>
		<string>CollectionViewController</string>
		<key>showName</key>
		<string>手势测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>webkit</string>
		<key>routerVC</key>
		<string>MMWebViewController</string>
		<key>showName</key>
		<string>网页测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>textKit</string>
		<key>routerVC</key>
		<string>MMTextVC</string>
		<key>showName</key>
		<string>TextView</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>或者其他的</string>
		<key>routerVC</key>
		<string>MMAuthorizationVC</string>
		<key>showName</key>
		<string>权限处理</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>或者其他的</string>
		<key>routerVC</key>
		<string>MMTableViewVC</string>
		<key>showName</key>
		<string>列表测试</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>CoreAnimation</string>
		<key>routerVC</key>
		<string>MMLayerAnimationVC</string>
		<key>showName</key>
		<string>CoreAnimation动画</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>CAEmitterLayer</string>
		<key>routerVC</key>
		<string>MMEmitterVC</string>
		<key>showName</key>
		<string>粒子动画</string>
	</dict>
</array>
</plist>
